body{
	padding: 2%;
}
#header{
	background-color: rgb(175,185,195);
	text-align: center;
	font-family: Calibri;
	font-size: 20px;
	padding: 0px;
}
#may{
	text-transform: uppercase;
	padding-top: 5%;
	text-align: justify;
}
.text-justify{
	padding-top: 5%;
}
#precio{
	margin-top: 25px;
}
footer{
	background-color: rgb(175,185,195);
	padding: 1%;
}
#img{
	margin-left: 15px;
}