/* Created by TopStyle Trial - www.topstyle4.com */
#contenedor{
	background-color: #2f4f4f;
	width: auto;
	height: auto;
	position: absolute;
	font-family:Calibri;
	color:#2f4f4f;
}
#encabezado{
	text-align: center;
	font-family:Calibri;
	color: white;
	margin: 0px;
}
#text{
	float:left;
	background-color: #8fbc8f;
	color: black;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #2f4f4f;
	padding: 20px;
	width: 65%;
	height:40%;
	margin-left: 2%;
	text-align:justify;
	
	
}
p{
	font-size:12px;

}
#dere{
	max-height: 30%;
	width:20%;
	float: right;
	margin-right:1%;

	
}
#menuDer{
	float:right;
	width:100%;
	height: 30%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #2f4f4f;
	background-color:#8fbc8f;
	margin-bottom: 5%;
	font-size:20px;
	padding:5%;
}
ul{
 list-style-type: none;
 margin-left: 0px;
}

a{
	text-decoration: none;
	color: #2f4f4f;
}
a:hover{
	
color: #8fbc8f;
background-color:#2f4f4f;
}
h1{
	color: #8fbc8f;
}
h3{
	
color: #2f4f4f;
}
h5{
	text-align: center;
	color: #2f4f4f;
}
#noticias{
	width: 100%;
	height: 30%;
	float: right;
	padding:5%;
	background-color: #8fbc8f;
	color:black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #2f4f4f;
}
#menuAbajo{
	background-color: #8fbc8f;
	width: 96%;
	height: 20%;
	float: left;
	margin-left:2%;
	margin-top: 5%;
	color: black;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #2f4f4f;
}
.img{
padding:1%;
width:20%;
height:200px;

margin-left: 2%;
}

.imga:hover{
	background-color: transparent;
}
#pie{
	width: 96%;
	background-color: #8fbc8f;
	color: black;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #2f4f4f;
	height:1%;
	float: left;
	margin-left:2%;
	margin-top:2%;
}
	