body{
	padding: 2%;
}
#header{
	background-color: rgb(175,185,195);
	text-align: center;
	font-family: Calibri;
	font-size: 20px;
	padding: 0px;
}
h1,
h2,
h3,h4{
	text-transform: uppercase;
	text-align: justify;
	color: rgb(68,121,145);
}
.text-justify{
	padding-top: 5%;
}
#precio{
	
}
footer{
	background-color: rgb(175,185,195);
	padding: 1%;
}
#img{
	margin-left: 15px;
}
a{
	text-decoration: none;
}
a:hover{
	color: rgb(75,138,243);
}
.bot{
	margin-left: 20px;
	margin: 5px;
}
.thumbnail{
	padding: 1px;
}